/* Positioning */

body > .sc-view {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 50px;
  background: #b7d84b;
}

#body {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}

#instructions-and-output {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 50%;
  left: 0;

  background: #44ACCF;
}

#code-editors {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;

  background: #fa8366;
}

.editor-view, .output-view {
  position: absolute;
  top: 10px;
  bottom: 10px;
}

#js-editor-view-wrapper, #expected-output-view-wrapper {
  position: absolute;
  top: 0;
  right: 50%;
  bottom: 0;
  left: 0;
}

#js-editor-view {
  left: 10px;
  right: 5px;
}

#template-editor-view-wrapper, #output-view-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 50%;
}

#template-editor-view {
  left: 5px;
  right: 10px;
}

#expected-output-view {
  left: 20px;
  right: 15px;
}

#output-view {
  left: 15px;
  right: 20px;
}

/* Style */

#nav {
  color: white;
}

#nav h1 {
  margin: 0.2em;
  font-family: Arial, Helvetica, 'sans-serif';
  font-weight: normal;
}

.ace-editor, .output-view {
  background: white;
}

.output-view {
  border-radius: 10px;
}
