/* z-indexes. Needed to make sure user can interact with both the text on the left and the fixed-position code editors
   on the right. */

nav, article {
  position: relative; /* needed to make sure that z-index applies */
  z-index: 1;
}

.ace-editor {
  z-index: 2;
}

/* Overall Layout */

body {
  margin: 0;
}

#wrapper {
  min-width: 480px;
  max-width: 1080px;
  margin: 0 auto;
}

article {
  width: 60%;
  padding-left: 2em;
  padding-right: 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

#code-editors {
  position: fixed;
  left: 0;
  right: 0;
  top: 76px;
  bottom: 0;
}

#code-editors-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  max-width: 1080px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.editor-view {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: 10px;
  margin-left: 60%;
}

.editor-view > h1 {
  width: 100%;
  margin: 0;
}

/* top */
#js-editor-view {
  top: 0;
  bottom: 50%;
  margin-top: 0;
  margin-bottom: 2em;
}

/* bottom */
#template-editor-view {
  top: 50%;
  bottom: 0;
  margin-bottom: 2em;
}

.output-view {
  margin: 0.2em 2em 1em 1em;
}

.output-view > iframe {
  height: 160px;
  width: 100%;
  
  transition: height 0.5s;
  transition-timing-function: ease-in-out;
  -webkit-transition: height 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition: height 0.5s;
  -moz-transition-timing-function: ease-in-out;
  -o-transition: height 0.5s;
  -o-transition-timing-function: ease-in-out;      
}

.output-view.is-hidden > iframe {
  height: 0;
  width: 0;
}

.output-view.is-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

/* Style */

body {
  font-family: Cambria, "Hoefler Text", Georgia, "Times New Roman", serif;
}

article {
  line-height: 1.5;
  color: #444;
}

p {
  font-size: 1.2em;
  margin: 0 0 1em 0;
  line-spacing: 0.2em;
  word-spacing: 0.1em;
}

pre, code {
  font-family: Consolas, Inconsolata, Menlo, Monaco, monospace;
}

pre {
  margin: 0 1em 1em 2em;
  font-size: 1em;
}

p > code {
  font-size: .83em;
}

.editor-view > h1 {
  font-family: MuseoSlab-500, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  letter-spacing: -1px;
  text-align: right;
  color: black;
}

.editor-view > h1:after {
  content: " ↓"
}

h1, h2, h3 {
  font-family: MuseoSlab-500, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -1px;
  color: black;
}

nav > h1 {
  font-size: 3em;
  text-align: center;
  margin: 0.2em 0;
  letter-spacing: -2px;
}

article > h1 {
  font-size: 2em;
  margin: 0;
}

article > h2 {
  font-size: 1.5em;
  margin: 1em 0 0 0;
}

.ace-editor {
  border: 1px solid black;
  background-color: white;
}

.output-view > iframe {
  border: 1px solid black;
}

p .inline-button {
  position: relative;
  top: -0.2em;
}

/* effects */

.title-contrast {
  color: #CF4E1F;
}

.prototype-notice {
  font-style: italic;
  background-color: #FFFFCC
}

/* link styles borrowed diveintohtml5.info */

a {
  text-decoration: none;
}

a:link {
  color: FireBrick;
  border-bottom: 1px dotted;
}

a:visited {
  color: RosyBrown;
  border-bottom: 1px dotted;
}

a:link:hover, a:visited:hover {
  border-bottom: 1px solid;
}
