/* z-indexes. Needed to make sure user can interact with both the text on the left and the fixed-position code editors
   on the right. */

h1, article {
  position: relative; /* needed to make sure that z-index applies */
  z-index: 1;
}

.ace-editor {
  z-index: 2;
}

/* Positioning */

body {
  margin: 0;
}

#wrapper {
  min-width: 480px;
  max-width: 960px;
  margin: 0 auto;
}

h1 {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: 0.2em;
}

article {
  width: 60%;
  padding-left: 2em;
  padding-right: 1em;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

#code-editors {
  position: fixed;
  left: 0;
  right: 0;
  top: 55px;
  bottom: 0;
}

#code-editors-wrapper {
  position: relative;
  top: 0;
  bottom: 0;
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.editor-view {
  position: absolute;
  right: 0;
  left: 0;
  margin-right: 10px;
  margin-left: 60%;
}

/* top */
#js-editor-view {
  top: 0;
  bottom: 50%;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* bottom */
#template-editor-view {
  top: 50%;
  bottom: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

pre {
  margin-left: 2em;
  margin-right: 1em;
}

p {
  margin-left: 0;
  margin-right: 0;
}

#output-view {
  height: 200px;
  margin-left: 0;
  margin-right: 0;
}

#output-view > iframe {
  width: 100%;
  height: 100%;
}


/* Style */

h1, h2, h3 {
/*  font-family: "Playfair Display", Verdana, Geneva, serif;*/
  font-family: MuseoSlab-500, 'Arial', 'Helvetica', sans-serif;
  font-weight: normal;
  font-style: normal;
  letter-spacing: -1px;
}

nav > h1 {
  font-size: 42px;
  text-align: center;
  margin: 0.2em 0;
  letter-spacing: -2px;
}

article > h1 {
  font-size: 32px;
  margin: 0.2em 0;
}


article > h2 {
  font-size: 24px;
  margin: 1em 0 .2em 0;
}

body {
  font-family: Georgia, "Times New Roman", serif;
}

p {
  font-size: 16px;
}

pre {
  font-family: Consolas, Inconsolata, Menlo, Monaco, monospace;
  font-size: 14px;
}

.ace-editor {
  border: 1px solid black;
  background-color: white;
}

#output-view > iframe {
  border: 1px solid black;
}
