<div id="nav">
  <h1>Learn.Sproutcore Version {{Learn.VERSION}}</h1>
</div>

<div id="body">

  <div id="instructions-and-output">  

    <div id="expected-output-view" class="output-view">
      <!--handlebars partial/subtemplate? -->
    </div>
  
    {{#view Learn.OutputView id="output-view" class="output-view"}}
      <iframe class="output-iframe" src="iframe/index.html"></iframe>
    {{/view}}
    
  </div>
  
  <div id="code-editors">

    {{#view Learn.JsEditorView id="js-editor-view" class="editor-view"}}
      <div class="ace-editor"></div>
    {{/view}}
  
    {{#view Learn.TemplateEditorView id="template-editor-view" class="editor-view"}}
      <div class="ace-editor"></div>
    {{/view}}
  
  </div>

</div>
