<div id="nav">
  <h1>Learn.Sproutcore Version {{Learn.VERSION}}</h1>
</div>

<div id="body">

  <div id="instructions-and-output">  

    <div id="expected-output-view-wrapper">
      <div id="expected-output-view" class="output-view">
        <!--handlebars partial/subtemplate? -->
      </div>
    </div>
    
    <div id="output-view-wrapper">
      {{#view Learn.OutputView id="output-view" class="output-view"}}
        <iframe class="output-iframe" src="iframe/index.html"></iframe>
      {{/view}}
    </div>
    
  </div>
  
  <div id="code-editors">

    <div id="js-editor-view-wrapper">
      {{#view Learn.JsEditorView id="js-editor-view" class="editor-view"}}
        <div class="ace-editor"></div>
      {{/view}}
    </div>
  
    <div id="template-editor-view-wrapper">
      {{#view Learn.TemplateEditorView id="template-editor-view" class="editor-view"}}
        <div class="ace-editor"></div>
      {{/view}}
    </div>
  
  </div>

</div>
